.app{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movielogo{
  
  height: 100px;
  width: 100px;
  border-radius: 45px;
  padding: 10px;
}

.nav-item{
  margin-right:2rem!important ;
}

